include asthook/logo.ans
include asthook/bin/*

include api_key_detector/config.yml
include api_key_detector/gibberish_detector/config.yml
include api_key_detector/gibberish_detector/gibberish_detector.pki
include api_key_detector/string_classifier.pki
recursive-include api_key_detector/gibberish_detector/datasets/ *
recursive-include api_key_detector/datasets/ *

recursive-include asthook/static/module/VulnIntent/poc/ *

recursive-include asthook/static/module/Provider/poc/ *

recursive-include asthook/static/generate_apk/base/ *
recursive-include asthook/script_frida/ *
recursive-include asthook/submodule/ *
